:root{
    --green: #06D800;
    --black: #191919;
    --yellow: #f5dc72;
    --white: #fcfcfc;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
    color: var(--white);
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}
body{
    width: 100vw;
    background-color: var(--black);
    display: flex;
    justify-content: center;
}

/* main header code start form here  */

header{
    width: 60%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2024;
}

.fix-img{
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.1;
    display: flex;
    align-items: center;
    z-index: -1;
}
.fix-img1{
    left: -20%;
}
.fix-img2{
    right: -15%;
    justify-content: end;
}

nav{
    height: 70px;
    width: 90%;
    border: 2px solid var(--yellow);
    backdrop-filter: blur(30px);
    border-radius: 12px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
nav a{
    color: var(--yellow);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
}
nav a:hover{
    text-shadow: 1px 1px 10px var(--green);
    color: var(--white);
}

.hand-img{
    height: 100px;
}

/* Main section Start form here  */

main{
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home Section From here  */

#Home{
    min-height: 900px;
    height: 100vh;
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lottie{
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    position: absolute;
}
.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px var(--green);
}       
.content h2:nth-child(2) {
    color: #34c52f;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
    0%,
    100% {
    clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
    );
    }

    50% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}

.home-collbration{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.home-collbration h1{
    font-size: 2rem;
}

/* Expert section start from here  */

.experts{
    height: 100vh;
    min-height: 800px;
    width: 100vw;
    background: var(--black);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-main{
    height: 100%;
    min-height: 800px;
    width: 80%;
    min-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.exp-img{
    height: 80%;
    min-height: 700px;
    width: 45%;
    min-width: 600px;
}

.exp-img img{
    height: 90%;
    filter:  drop-shadow(1px 1px 10px var(--yellow));
    transition: all 2s;
    animation: bookImg 2s 1s infinite linear alternate;
}

.exp-img img:hover{
    transform: scale(1.1);
}

@keyframes bookImg {
    0%{transform: translateY(0px);}
    50%{transform: translateY(20px);}
    100%{transform: translateY(0px);}
}

.custom-emogi{
    list-style: none;
    padding-left: 0;
    margin: 10px;
}

.custom-emogi li::before{
    content: "✔️";
    padding-right: 10px;
}

.exp-img h2{
    font-size: 3rem;
    color: var(--green);
    text-shadow: 1px 1px 1px var(--white);
}
.price{
    font-size: 32px;
    font-weight: bold;
}

/* Products section start form here  */

.Products{
    height: 100vh;
    min-height: 800px;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.products-content{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.products-content img{
    width: 150px;
}
.Headings{
    height: 13%;
    width: fit-content;
    font-size: 5em;
    text-align: center;
    color: var(--black);
    -webkit-text-stroke: 5px var(--green);
}
.pro-Books-list{
    height: 500px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img-book{
    margin: 10px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.img-book img{
    height: 300px;
    width: 300px;
    background: var(--white);
    border-radius: 25px;
}
.img-book p{
    align-self: flex-start;
    margin: 10px 0px;
    font-weight: bold;
}

/*  */
/* custom section start here  */
/*  */

.butn{
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    color: var(--yellow);
    padding: 10px 15px;
    font-weight: bold;
    border: 2px solid var(--yellow);
    border-radius: 12px;
}
hr{
    border: 2px solid var(--green);
    width: 100vw;
}
.com-para{
    text-align: justify;
    margin: 20px;
}
/*  */
/* custom section end here  */
/*  */

/* About us Start here */

.About-Us{
    height: 90vh;
    min-height: 700px;
    width: 100vw;
    background: var(--black);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.About-content{
    height: 100%;
    min-height: 700px;
    width: 80%;
    min-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.About-img{
    height: 80%;
    min-height: 700px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.About-img img{
    height: 400px;
    width: 400px;
    filter:  drop-shadow(1px 1px 10px var(--white));
    transition: all 2s;
    animation: logo 4s 1s infinite linear alternate;
}
.About-img img:hover{
    transform: scale(1.1);
}
@keyframes logo {
    0%{transform: translateY(0px);
        filter:  drop-shadow(1px 1px 0px var(--white));}
    50%{transform: translateY(0px);
        filter:  drop-shadow(1px 1px 10px var(--white));}
    100%{transform: translateY(0px);
        filter:  drop-shadow(1px 1px 0px var(--white));}
}
.About-con{
    height: 80%;
    min-height: fit-content;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.About-con h2{
    font-size: 3.5rem;
    color: var(--green);
    text-shadow: 1px 1px 1px var(--white);
}

/* Founder Message start here  */

#founder-message{
    height: 50vh;
    min-height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
q{
    color: var(--green);
    font-size: 2.2rem;
    filter: drop-shadow(1px 1px 0px var(--white));
    margin-bottom: 10px;
}
.found-div{
    height: 200px;
    min-height: fit-content;
    width: 700px;
    max-width: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.found-div p{
    color: var(--white);
    font-size: 16px;
    text-align: center;
}
.found-div h2{
    color: var(--yellow);
    margin-top: 20px;
}
.linehr{
    border: 1px solid var(--green);
    width: 650px;
    margin-top: 10px;
}

/* Contact Us Section start here */

#Contact-us{
    height: 80vh;
    min-height: 800px;
    width: 100vw;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    height: 700px;
	width: fit-content;
	margin: 80px auto;
	line-height: 1.5;
}
.text-center {
	text-align: center;
}
.text-center h1{
    text-align: center;
    font-size: 4rem;
    color: var(--yellow);
}
.contact-content {
	display: flex;
	margin-top: 40px;
}
.icon {
	border-radius: 30px;
	padding: 15px;
	vertical-align: top;
    height: 100px;
}
.contact-info {
	display: inline-block;
	padding: 4px 20px 0px 20px;
}
.contact-info-title{
    color: var(--green);
}
.address-line {
	margin-top: 40px;
    display: flex;
    align-items: center;
}
.col-1 {
	width: 530px;
}
.col-2 {
    width: 600px;
    height: 450px;
	flex: 1 1 auto;
	background-color: var(--white);
    border-radius: 25px;
}
iframe{
    border-radius: 25px;
}
.copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

/* Screen for laptops */
@media (max-width:1384px) and (min-width:1024px) {
    nav{
        font-size: 1.5rem;
    }
    .fix-img{
        width: 90vw;
    }
    .fix-img1{
        left: -25%;
    }
    .fix-img2{
        right: -20%;
    }
    .exp-img{
        min-width: 400px;
    }
    .price{
        font-size: 28px;
    }
    .About-Us{
        height: 700px;
    }
    .About-content{
        height: 500px;
    }
    .About-img{
        width: 400px;
        height: 100px;
    }
    .About-img img{
        width: 300px;
        height: 300px;
    }
    .exp-img h2{
        font-size: 2.5rem;
    }
    .About-con h2{
        font-size: 2.8rem;
    }
    .com-para{
        font-size: 14px;
    }
    .col-2{
        width: 400px;
    }
    iframe{
        width: 400px;
    }
}

/* Screen for Tablets */
@media (max-width:1024px) and (min-width:768px) {
    nav{
        font-size: 1rem;
    }
    .home-collbration h1{
        font-size: 1.5rem;
    }
    .content h2 {
        font-size: 3em;
    }
    .fix-img{
        display: none;
    }
    .experts{
        width: 768px;
    }
    .exp-main{
        min-width: 768px;
    }
    .exp-img{
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .exp-img img{
        width: 230px;
        height: 430px;
    }
    .exp-img h2{
        font-size: 2rem;
    }
    .price{
        font-size: 26px;
    }
    .Headings{
        font-size: 3rem;
        -webkit-text-stroke: 3px var(--green);
    }
    .products-content{
        margin-top: 10px;
    }
    .products-content img{
        width: 120px;
    }
    .pro-Books-list{
        height: 100%;
        margin-top: 10px;
    }
    .img-book{
        margin: 10px;
        height: 350px;
        width: 300px;
    }
    .img-book img{
        height: 280px;
        width: 200px;
        background: var(--white);
        border-radius: 25px;
    }
    .img-book p{
        align-self: center;
        font-weight: bold;
    }
    .butn{
        padding: 8px 10px;
        font-size: 14px;
    }
    .About-Us{
        height: 700px;
    }
    .About-content{
        height: 400px;
        min-width: 768px;
    }
    .About-img{
        width: 400px;
        height: 100px;
    }
    .About-img img{
        width: 300px;
        height: 300px;
    }
    .About-con{
        width: 300px;
    }
    .About-con h2{
        font-size: 2rem;
    }
    .com-para{
        font-size: 14px;
        margin: 10px;
    }
    .col-1{
        width: 350px;
    }
    .icon{
        height: 75px;
    }
    .contact-info{
        font-size: 14px;
    }
    .col-2{
        width: 350px;
    }
    iframe{
        width: 350px;
    }
}

/* Screen For Mobile */
@media (max-width:768px) {
    header{
        width: 90%;
    }
    nav{
        font-size: 1rem;
        gap: 15px;
    }
    .home-collbration h1{
        font-size: 1rem;
    }
    .hand-img{
        height: 50px;
    }
    .content h2 {
        font-size: 1.8em;
    }
    .lottie{
        width: 350px;
        height: 350px;
    }
    .fix-img{
        display: none;
    }
    .experts{
        width: 100%;
        min-height: 1300px;
    }
    .exp-main{
        min-width: 100%;
        display: flex;
    }
    .main-book{
        height: fit-content;
    }
    .exp-img{
        min-height: 230px;
        height: fit-content;
        min-width: 300px;
        width: 100%;
        margin: 0px 20px;
    }
    .exp-img img{
        width: 230px;
        height: 430px;
    }
    .exp-img h2{
        font-size: 2rem;
    }
    .price{
        font-size: 26px;
    }
    .Headings{
        font-size: 3rem;
        -webkit-text-stroke: 3px var(--green);
    }
    .Products{
        height: 100%;
    }
    .products-content{
        margin-top: 10px;
    }
    .products-content img{
        width: 120px;
    }
    .pro-Books-list{
        height: 100%;
        margin-top: 10px;
    }
    .img-book{
        margin: 10px;
        height: 350px;
        width: 300px;
    }
    .img-book img{
        height: 280px;
        width: 200px;
        background: var(--white);
        border-radius: 25px;
    }
    .img-book p{
        align-self: center;
        font-weight: bold;
    }
    .butn{
        padding: 8px 10px;
        font-size: 14px;
    }
    .About-Us{
        height: 1200px;
        min-height: 100%;
    }
    .About-content{
        height: 100%;
        min-width: 300px;
        flex-wrap: wrap;
    }
    .About-img{
        width: 400px;
        min-height: 330px;
        height: 330px;
    }
    .sweImg{
        margin-bottom: 100px;
    }
    .About-img img{
        width: 300px;
        height: 300px;
    }
    .About-con{
        width: 300px;
        height: 500px;
        min-height: 500px;
    }
    .sweAbout{
        flex-wrap: wrap-reverse;
        height: 1000px;
    }
    .About-con h2{
        font-size: 2rem;
    }
    q{
        font-size: 1.5rem;
    }
    .linehr{
        width: 90%;
    }
    .found-div{
        width: 100%;
        height: 100%;
    }
    .com-para{
        font-size: 14px;
        margin: 10px;
    }
    .contact-content{
        flex-wrap: wrap ;
        justify-content: center;
    }
    .col-1{
        width: 350px;
    }
    .icon{
        height: 75px;
    }
    .contact-info{
        font-size: 14px;
    }
    .col-2{
        width: 90%;
        height: 300px;
        flex: none;
    }
    iframe{
        width: 90%;
        height: 300px;
    }
}